[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = https://github.com/mikke89/RmlUi/
[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "lib/RT64-HLE"]
	path = lib/RT64-HLE
	url = https://github.com/DarioSamo/RT64-HLE/
[submodule "lib/freetype-windows-binaries"]
	path = lib/freetype-windows-binaries
	url = https://github.com/ubawurinna/freetype-windows-binaries
[submodule "lib/mm-decomp"]
	path = lib/mm-decomp
	url = https://github.com/zeldaret/mm
