
$border-radius-sm: 8dp;
$border-radius-md: 12dp;
// modals/pages
$border-radius-lg: 16dp;

$border-radius-modal: $border-radius-lg;

$border-width-thickness-num: 1.5;
$border-width-thickness: space($border-width-thickness-num);

@mixin border($col: $color-border) {
    border-color: $col;
    border-width: $border-width-thickness;
}

@mixin border-top($col: $color-border) {
    border-top-color: $col;
    border-top-width: $border-width-thickness;
}
