/* stylelint-disable color-no-hex, color-hex-length */

$color-background-1: #08070D;
$color-background-2: #121018;
$color-background-3: #191622;
$color-bg-overlay: rgba(190, 184, 219, 0.1000);
$color-modal-overlay: rgba(8, 7, 13, 0.9000);
$color-bg-shadow: rgba(0, 0, 0, 0.3500);
$color-bg-shadow-2: rgba(8, 7, 13, 0.7200);
$color-text: #F2F2F2;
$color-text-dim: #CCCCCC;
$color-text-inactive: rgba(255, 255, 255, 0.6000);
$color-primary: #B97DF2;
$color-primary-l: #DABAF7;
$color-primary-d: #7A2AC6;
$color-primary-a5: rgba(185, 125, 242, 0.0500);
$color-primary-a20: rgba(185, 125, 242, 0.2000);
$color-primary-a30: rgba(185, 125, 242, 0.3000);
$color-primary-a50: rgba(185, 125, 242, 0.5000);
$color-primary-a80: rgba(185, 125, 242, 0.8000);
$color-secondary: #17D6E8;
$color-secondary-l: #A2EFF6;
$color-secondary-d: #25A1AD;
$color-secondary-a5: rgba(23, 214, 232, 0.0500);
$color-secondary-a20: rgba(23, 214, 232, 0.2000);
$color-secondary-a30: rgba(23, 214, 232, 0.3000);
$color-secondary-a50: rgba(23, 214, 232, 0.5000);
$color-secondary-a80: rgba(23, 214, 232, 0.8000);
$color-warning: #E9CD35;
$color-warning-l: #F9E57C;
$color-warning-d: #C5AA16;
$color-warning-a5: rgba(233, 205, 53, 0.0500);
$color-warning-a20: rgba(233, 205, 53, 0.2000);
$color-warning-a30: rgba(233, 205, 53, 0.3000);
$color-warning-a50: rgba(233, 205, 53, 0.5000);
$color-warning-a80: rgba(233, 205, 53, 0.8000);
$color-error: #F86039;
$color-error-l: #FE8667;
$color-error-d: #B23919;
$color-error-a5: rgba(248, 96, 57, 0.0500);
$color-error-a20: rgba(248, 96, 57, 0.2000);
$color-error-a30: rgba(248, 96, 57, 0.3000);
$color-error-a50: rgba(248, 96, 57, 0.5000);
$color-error-a80: rgba(248, 96, 57, 0.8000);
$color-success: #45D043;
$color-success-l: #AAEAA9;
$color-success-d: #2CA72A;
$color-success-a5: rgba(69, 208, 67, 0.0500);
$color-success-a20: rgba(69, 208, 67, 0.2000);
$color-success-a30: rgba(69, 208, 67, 0.3000);
$color-success-a50: rgba(69, 208, 67, 0.5000);
$color-success-a80: rgba(69, 208, 67, 0.8000);
$color-border: rgba(255, 255, 255, 0.2000);
$color-border-soft: rgba(255, 255, 255, 0.1000);
$color-border-hard: rgba(255, 255, 255, 0.3000);
$color-border-solid: rgba(255, 255, 255, 0.6000);
$color-transparent: rgba(0, 0, 0, 0.0000);
$color-a: #3333FF;
$color-a-l: #B2B2FF;
$color-a-d: #2020AC;
$color-a-a5: rgba(51, 51, 255, 0.0500);
$color-a-a20: rgba(51, 51, 255, 0.2000);
$color-a-a30: rgba(51, 51, 255, 0.3000);
$color-a-a50: rgba(51, 51, 255, 0.5000);
$color-a-a80: rgba(51, 51, 255, 0.8000);
$color-white: #FFFFFF;
$color-white-a5: rgba(255, 255, 255, 0.0500);
$color-white-a20: rgba(255, 255, 255, 0.2000);
$color-white-a30: rgba(255, 255, 255, 0.3000);
$color-white-a50: rgba(255, 255, 255, 0.5000);
$color-white-a80: rgba(255, 255, 255, 0.8000);
