/* stylelint-disable color-no-hex, color-hex-length */

$color-background-1: #08070D;
$color-background-2: #121018;
$color-background-3: #191622;
$color-bg-overlay: rgba(190, 184, 219, 0.0500);
$color-bg-shadow: rgba(0, 0, 0, 0.3500);
$color-text: #F2F2F2;
$color-text-dim: #CCCCCC;
$color-text-inactive: rgba(255, 255, 255, 0.6000);
$color-primary: #B97DF2;
$color-primary-l: #DABAF7;
$color-primary-d: #4E1B7E;
$color-secondary: #17D6E8;
$color-secondary-l: #A2EFF6;
$color-secondary-d: #124E54;
$color-warning: #E9CD35;
$color-warning-l: #F9E57C;
$color-warning-d: #8A770F;
$color-error: #F86039;
$color-error-l: #FE8667;
$color-error-d: #591C0D;
$color-success: #45D043;
$color-success-l: #AAEAA9;
$color-success-d: #207A1F;
$color-border: rgba(255, 255, 255, 0.2000);
$color-border-soft: rgba(255, 255, 255, 0.1000);
$color-border-hard: rgba(255, 255, 255, 0.3000);
