
%nav-vert {
    nav-up: auto;
    nav-down: auto;
}

%nav-horiz {
    nav-right: auto;
    nav-left: auto;
}

%nav-dir {
    @extend %nav-vert;
    @extend %nav-horiz;
}

%nav-foc {
    focus: auto;
    tab-index: auto;
}

%nav-all {
    @extend %nav-dir;
    @extend %nav-foc;
}

@mixin set-svgs-color($col) {
    svg {
        image-color: $col;
    }
}

/*
@include set-color(COLOR);
*/
@mixin set-color($col) {
    @include set-svgs-color($col);
    color: $col;
}
