
%nav-dir {
    nav-up: auto;
    nav-down: auto;
    nav-right: auto;
    nav-left: auto;
}

%nav-foc {
    focus: auto;
    tab-index: auto;
}

%nav-all {
    @extend %nav-dir;
    @extend %nav-foc;
}

/*
@include set-color(COLOR);
*/
@mixin set-color($col) {
    color: $col;

    svg {
        image-color: $col;
    }
}
