
$font-stack: chiaro;

@mixin set-font-sizing($sz, $spacing) {
    // font-family: $font-stack;
    $sz-add: $sz + 4;
    font-size: space($sz-add);
    letter-spacing: space($sz-add * $spacing);
    line-height: space($sz-add);
}

%header-1 {
    @include set-font-sizing(64, 0.07);
    font-style: normal;
	font-weight: 700;
}

%header-2 {
    @include set-font-sizing(48, 0.07);
    font-style: normal;
	font-weight: 700;
}

%header-3 {
    @include set-font-sizing(32, 0.07);
    font-style: normal;
	font-weight: 700;
}

%label-lg {
    @include set-font-sizing(32, 0.11);
    font-style: normal;
	font-weight: 700;
}

%label-md {
    @include set-font-sizing(24, 0.11);
    font-style: normal;
	font-weight: 700;
}

%label-sm {
    @include set-font-sizing(16, 0.14);
    font-style: normal;
	font-weight: 700;
    text-transform: uppercase;
}

%label-xs {
    @include set-font-sizing(14, 0.14);
    font-style: normal;
	font-weight: 400;
}

%body {
    @include set-font-sizing(16, 0.0);
    font-style: normal;
	font-weight: 400;
}

%prompt-font-lg {
    font-family: promptfont;
    font-size: space(56);
    font-style: normal;
    font-weight: 400;
    line-height: space(56);
}

%prompt-font {
    font-family: promptfont;
    font-size: space(40);
    font-style: normal;
    font-weight: 400;
    line-height: space(40);
}

%prompt-font-sm {
    font-family: promptfont;
    font-size: space(32);
    font-style: normal;
    font-weight: 400;
    line-height: space(32);
}
