
%header-1 {
    font-size: 64dp;
    font-style: normal;
	font-weight: 700;
    letter-spacing: 4.48dp;
    line-height: 64dp;
}

%header-2 {
    font-size: 48dp;
    font-style: normal;
	font-weight: 700;
    letter-spacing: 3.36dp;
    line-height: 48dp;
}

%header-3 {
    font-size: 32dp;
    font-style: normal;
	font-weight: 700;
    letter-spacing: 2.24dp;
    line-height: 32dp;
}

%label-lg {
    font-size: 32dp;
    font-style: normal;
	font-weight: 700;
    letter-spacing: 3.52dp;
    line-height: 32dp;
}

%label-md {
    font-size: 24dp;
    font-style: normal;
	font-weight: 700;
    letter-spacing: 2.2dp;
    line-height: 24dp;
}

%label-sm {
    font-size: 16dp;
    font-style: normal;
	font-weight: 700;
    letter-spacing: 1.32dp;
    line-height: 16dp;
    text-transform: uppercase;
}

%body {
    font-size: 16dp;
    font-style: normal;
	font-weight: 400;
    letter-spacing: 1.32dp;
    line-height: 16dp;
}
