[Desktop Entry]
Name=Zelda64Recompiled
Type=Application
Terminal=false
Icon=Zelda64Recompiled
Exec=Zelda64Recompiled
GenericName=Zelda64Recompiled
Categories=Game;

