@font-face{font-family:'promptfont'; src:url('promptfont.ttf');}
.pf{font-family:promptfont;}
.pf-exchange::after{content:'\u2194';}
.pf-reverse::after{content:'\u2195';}
.pf-left-trigger-lt::after{content:'\u2196';}
.pf-right-trigger-rt::after{content:'\u2197';}
.pf-left-shoulder-lb::after{content:'\u2198';}
.pf-right-shoulder-rb::after{content:'\u2199';}
.pf-left-trigger-zl::after{content:'\u219A';}
.pf-right-trigger-zr::after{content:'\u219B';}
.pf-left-shoulder-l::after{content:'\u219C';}
.pf-right-shoulder-r::after{content:'\u219D';}
.pf-dpad-left::after{content:'\u219E';}
.pf-dpad-up::after{content:'\u219F';}
.pf-dpad-right::after{content:'\u21A0';}
.pf-dpad-down::after{content:'\u21A1';}
.pf-dpad-left-right::after{content:'\u21A2';}
.pf-dpad-up-down::after{content:'\u21A3';}
.pf-button-left-x::after{content:'\u21A4';}
.pf-button-up-y::after{content:'\u21A5';}
.pf-button-right-b::after{content:'\u21A6';}
.pf-button-down-a::after{content:'\u21A7';}
.pf-left-analog-clockwise::after{content:'\u21A9';}
.pf-left-analog-counter::after{content:'\u21AA';}
.pf-right-analog-clockwise::after{content:'\u21AB';}
.pf-right-analog-counter::after{content:'\u21AC';}
.pf-both-analog-clockwise::after{content:'\u21AD';}
.pf-both-analog-counter::after{content:'\u21AE';}
.pf-left-shoulder-l1::after{content:'\u21B0';}
.pf-right-shoulder-r1::after{content:'\u21B1';}
.pf-left-trigger-l2::after{content:'\u21B2';}
.pf-right-trigger-r2::after{content:'\u21B3';}
.pf-dpad-left-down::after{content:'\u21B4';}
.pf-dpad-up-right::after{content:'\u21B5';}
.pf-analog-clockwise::after{content:'\u21B6';}
.pf-analog-counter::after{content:'\u21B7';}
.pf-both-analog-click::after{content:'\u21B9';}
.pf-left-analog-click::after{content:'\u21BA';}
.pf-right-analog-click::after{content:'\u21BB';}
.pf-left-analog-left::after{content:'\u21BC';}
.pf-right-analog-left::after{content:'\u21BD';}
.pf-left-analog-up::after{content:'\u21BE';}
.pf-right-analog-up::after{content:'\u21BF';}
.pf-left-analog-right::after{content:'\u21C0';}
.pf-right-analog-right::after{content:'\u21C1';}
.pf-left-analog-down::after{content:'\u21C2';}
.pf-right-analog-down::after{content:'\u21C3';}
.pf-left-analog-left-right::after{content:'\u21C4';}
.pf-left-analog-up-down::after{content:'\u21C5';}
.pf-right-analog-left-right::after{content:'\u21C6';}
.pf-analog-left::after{content:'\u21C7';}
.pf-analog-up::after{content:'\u21C8';}
.pf-analog-right::after{content:'\u21C9';}
.pf-analog-down::after{content:'\u21CA';}
.pf-left-analog::after{content:'\u21CB';}
.pf-right-analog::after{content:'\u21CC';}
.pf-dpad::after{content:'\u21CE';}
.pf-button-x::after{content:'\u21D0';}
.pf-button-y::after{content:'\u21D1';}
.pf-button-b::after{content:'\u21D2';}
.pf-button-a::after{content:'\u21D3';}
.pf-analog-left-right::after{content:'\u21D4';}
.pf-analog-up-down::after{content:'\u21D5';}
.pf-analog-up-left::after{content:'\u21D6';}
.pf-analog-up-right::after{content:'\u21D7';}
.pf-analog-down-right::after{content:'\u21D8';}
.pf-analog-down-left::after{content:'\u21D9';}
.pf-left-analog-touch::after{content:'\u21DA';}
.pf-right-analog-touch::after{content:'\u21DB';}
.pf-left-trigger-pull::after{content:'\u21DC';}
.pf-right-trigger-pull::after{content:'\u21DD';}
.pf-dpad-right-down::after{content:'\u21DE';}
.pf-dpad-left-up::after{content:'\u21DF';}
.pf-button-square::after{content:'\u21E0';}
.pf-button-triangle::after{content:'\u21E1';}
.pf-button-circle::after{content:'\u21E2';}
.pf-button-cross::after{content:'\u21E3';}
.pf-steam-menu::after{content:'\u21E4';}
.pf-options-menu::after{content:'\u21E5';}
.pf-dualshock-share::after{content:'\u21E6';}
.pf-dualshock-touchpad::after{content:'\u21E7';}
.pf-dualshock-options::after{content:'\u21E8';}
.pf-gamecube-z::after{content:'\u21E9';}
.pf-back-trigger-z::after{content:'\u21EA';}
.pf-button-c::after{content:'\u21EB';}
.pf-button-z::after{content:'\u21EC';}
.pf-button-alt-1::after{content:'\u21ED';}
.pf-button-alt-2::after{content:'\u21EE';}
.pf-left-analog-any::after{content:'\u21F1';}
.pf-right-analog-any::after{content:'\u21F2';}
.pf-analog-any::after{content:'\u21F3';}
.pf-right-analog-up-down::after{content:'\u21F5';}
.pf-select-share::after{content:'\u21F7';}
.pf-start::after{content:'\u21F8';}
.pf-home-menu::after{content:'\u21F9';}
.pf-share-capture::after{content:'\u21FA';}
.pf-burger-menu::after{content:'\u21FB';}
.pf-minus::after{content:'\u21FD';}
.pf-plus::after{content:'\u21FE';}
.pf-joycon-dpad-left::after{content:'\u21FF';}
.pf-joycon-dpad-up::after{content:'\u2200';}
.pf-joycon-dpad-right::after{content:'\u2201';}
.pf-joycon-dpad-down::after{content:'\u2202';}
.pf-joycon-sl::after{content:'\u2203';}
.pf-joycon-sr::after{content:'\u2204';}
.pf-lenovo-legion-quick-settings::after{content:'\u2205';}
.pf-dualsense-share::after{content:'\u2206';}
.pf-dualsense-touchpad::after{content:'\u2207';}
.pf-dualsense-options::after{content:'\u2208';}
.pf-ayaneo-lc::after{content:'\u2209';}
.pf-ayaneo-rc::after{content:'\u220A';}
.pf-ayaneo-wave::after{content:'\u220B';}
.pf-ayn-home::after{content:'\u220C';}
.pf-ayn-lcc::after{content:'\u220D';}
.pf-gpd-c1::after{content:'\u220E';}
.pf-gpd-c2::after{content:'\u220F';}
.pf-onexplayer-keyboard::after{content:'\u2210';}
.pf-onexplayer-turbo::after{content:'\u2211';}
.pf-m1::after{content:'\u2212';}
.pf-m2::after{content:'\u2213';}
.pf-m3::after{content:'\u2214';}
.pf-y1::after{content:'\u2215';}
.pf-y2::after{content:'\u2216';}
.pf-y3::after{content:'\u2217';}
.pf-onexplayer-function::after{content:'\u2218';}
.pf-onexplayer-home::after{content:'\u2219';}
.pf-left-trackpad-any::after{content:'\u2264';}
.pf-right-trackpad-any::after{content:'\u2265';}
.pf-left-trackpad-click::after{content:'\u2266';}
.pf-right-trackpad-click::after{content:'\u2267';}
.pf-left-trackpad-touch::after{content:'\u2268';}
.pf-right-trackpad-touch::after{content:'\u2269';}
.pf-left-trackpad-left::after{content:'\u226E';}
.pf-right-trackpad-left::after{content:'\u226F';}
.pf-left-trackpad-up::after{content:'\u2270';}
.pf-right-trackpad-up::after{content:'\u2271';}
.pf-left-trackpad-right::after{content:'\u2272';}
.pf-right-trackpad-right::after{content:'\u2273';}
.pf-left-trackpad-down::after{content:'\u2274';}
.pf-right-trackpad-down::after{content:'\u2275';}
.pf-steamdeck-l4::after{content:'\u2276';}
.pf-steamdeck-r4::after{content:'\u2277';}
.pf-steamdeck-l5::after{content:'\u2278';}
.pf-steamdeck-r5::after{content:'\u2279';}
.pf-xbox-dpad-left::after{content:'\u227A';}
.pf-xbox-dpad-up::after{content:'\u227B';}
.pf-xbox-dpad-right::after{content:'\u227C';}
.pf-xbox-dpad-down::after{content:'\u227D';}
.pf-xbox-dpad-left-right::after{content:'\u227E';}
.pf-xbox-dpad-up-down::after{content:'\u227F';}
.pf-xbox-dpad-left-up::after{content:'\u2280';}
.pf-xbox-dpad-right-up::after{content:'\u2281';}
.pf-xbox-dpad-left-down::after{content:'\u2282';}
.pf-xbox-dpad-right-down::after{content:'\u2283';}
.pf-xbox-dpad::after{content:'\u2284';}
.pf-pin::after{content:'\u2316';}
.pf-tabs::after{content:'\u23CD';}
.pf-back::after{content:'\u23CE';}
.pf-home-screen::after{content:'\u23CF';}
.pf-horizontal-dots::after{content:'\u23D0';}
.pf-vertical-dots::after{content:'\u23D1';}
.pf-hamburger-menu::after{content:'\u23D2';}
.pf-arrow-left::after{content:'\u23F4';}
.pf-arrow-up::after{content:'\u23F5';}
.pf-arrow-right::after{content:'\u23F6';}
.pf-arrow-down::after{content:'\u23F7';}
.pf-wasd::after{content:'\u2423';}
.pf-arrow-keys::after{content:'\u2424';}
.pf-ijkl::after{content:'\u2425';}
.pf-fn::after{content:'\u2426';}
.pf-ctrl::after{content:'\u2427';}
.pf-alt::after{content:'\u2428';}
.pf-shift::after{content:'\u2429';}
.pf-super::after{content:'\u242A';}
.pf-tab::after{content:'\u242B';}
.pf-caps::after{content:'\u242C';}
.pf-backspace::after{content:'\u242D';}
.pf-enter::after{content:'\u242E';}
.pf-esc::after{content:'\u242F';}
.pf-prtsc::after{content:'\u2430';}
.pf-scrlk::after{content:'\u2431';}
.pf-pause::after{content:'\u2432';}
.pf-numlock::after{content:'\u2433';}
.pf-insert::after{content:'\u2434';}
.pf-home::after{content:'\u2435';}
.pf-page-up::after{content:'\u2436';}
.pf-delete::after{content:'\u2437';}
.pf-end::after{content:'\u2438';}
.pf-page-down::after{content:'\u2439';}
.pf-space::after{content:'\u243A';}
.pf-gamepad::after{content:'\u243C';}
.pf-keyboard::after{content:'\u243D';}
.pf-mouse::after{content:'\u243E';}
.pf-mouse-and-keyboard::after{content:'\u243F';}
.pf-f1::after{content:'\u2460';}
.pf-f2::after{content:'\u2461';}
.pf-f3::after{content:'\u2462';}
.pf-f4::after{content:'\u2463';}
.pf-f5::after{content:'\u2464';}
.pf-f6::after{content:'\u2465';}
.pf-f7::after{content:'\u2466';}
.pf-f8::after{content:'\u2467';}
.pf-f9::after{content:'\u2468';}
.pf-f10::after{content:'\u2469';}
.pf-f11::after{content:'\u246A';}
.pf-f12::after{content:'\u246B';}
.pf-empty-keycap::after{content:'\u248F';}
.pf-1::after{content:'\u24F5';}
.pf-2::after{content:'\u24F6';}
.pf-3::after{content:'\u24F7';}
.pf-4::after{content:'\u24F8';}
.pf-5::after{content:'\u24F9';}
.pf-6::after{content:'\u24FA';}
.pf-7::after{content:'\u24FB';}
.pf-8::after{content:'\u24FC';}
.pf-9::after{content:'\u24FD';}
.pf-0::after{content:'\u24FF';}
.pf-star::after{content:'\u2605';}
.pf-skull::after{content:'\u2620';}
.pf-frown::after{content:'\u2639';}
.pf-smile::after{content:'\u263A';}
.pf-empty-heart::after{content:'\u2661';}
.pf-heart::after{content:'\u2665';}
.pf-d4::after{content:'\u2673';}
.pf-d6::after{content:'\u2674';}
.pf-d8::after{content:'\u2675';}
.pf-d10::after{content:'\u2676';}
.pf-d12::after{content:'\u2677';}
.pf-d20::after{content:'\u2678';}
.pf-d6-1::after{content:'\u2680';}
.pf-d6-2::after{content:'\u2681';}
.pf-d6-3::after{content:'\u2682';}
.pf-d6-4::after{content:'\u2683';}
.pf-d6-5::after{content:'\u2684';}
.pf-d6-6::after{content:'\u2685';}
.pf-flag::after{content:'\u2691';}
.pf-gears-options-settings::after{content:'\u2699';}
.pf-cross::after{content:'\u2717';}
.pf-question::after{content:'\u2753';}
.pf-exclamation::after{content:'\u2757';}
.pf-mouse-button-1::after{content:'\u278A';}
.pf-mouse-button-2::after{content:'\u278B';}
.pf-mouse-button-3::after{content:'\u278C';}
.pf-mouse-button-4::after{content:'\u278D';}
.pf-mouse-button-5::after{content:'\u278E';}
.pf-mouse-button-6::after{content:'\u278F';}
.pf-mouse-button-7::after{content:'\u2790';}
.pf-mouse-button-8::after{content:'\u2791';}
.pf-scroll-up::after{content:'\u27F0';}
.pf-scroll-down::after{content:'\u27F1';}
.pf-left-click::after{content:'\u27F5';}
.pf-right-click::after{content:'\u27F6';}
.pf-middle-click::after{content:'\u27F7';}
.pf-mouse-left-right::after{content:'\u27FA';}
.pf-mouse-up-down::after{content:'\u27FB';}
.pf-mouse-any::after{content:'\u27FC';}
.pf-box-crate::after{content:'\u2B1B';}
.pf-playstation::after{content:'\uE000';}
.pf-xbox::after{content:'\uE001';}
.pf-nintendo-switch::after{content:'\uE002';}
.pf-ayaneo::after{content:'\uE003';}
.pf-lenovo-legion::after{content:'\uE004';}
.pf-rog-ally-armoury::after{content:'\uE005';}
.pf-rog-alloy-command::after{content:'\uE006';}
.pf-apple-mac::after{content:'\uE007';}
.pf-windows::after{content:'\uE008';}
.pf-linux::after{content:'\uE009';}
.pf-bsd::after{content:'\uE00A';}
.pf-key-0::after{content:'\uFF10';}
.pf-key-1::after{content:'\uFF11';}
.pf-key-2::after{content:'\uFF12';}
.pf-key-3::after{content:'\uFF13';}
.pf-key-4::after{content:'\uFF14';}
.pf-key-5::after{content:'\uFF15';}
.pf-key-6::after{content:'\uFF16';}
.pf-key-7::after{content:'\uFF17';}
.pf-key-8::after{content:'\uFF18';}
.pf-key-9::after{content:'\uFF19';}
.pf-key-a::after{content:'\uFF21';}
.pf-key-b::after{content:'\uFF22';}
.pf-key-c::after{content:'\uFF23';}
.pf-key-d::after{content:'\uFF24';}
.pf-key-e::after{content:'\uFF25';}
.pf-key-f::after{content:'\uFF26';}
.pf-key-g::after{content:'\uFF27';}
.pf-key-h::after{content:'\uFF28';}
.pf-key-i::after{content:'\uFF29';}
.pf-key-j::after{content:'\uFF2A';}
.pf-key-k::after{content:'\uFF2B';}
.pf-key-l::after{content:'\uFF2C';}
.pf-key-m::after{content:'\uFF2D';}
.pf-key-n::after{content:'\uFF2E';}
.pf-key-o::after{content:'\uFF2F';}
.pf-key-p::after{content:'\uFF30';}
.pf-key-q::after{content:'\uFF31';}
.pf-key-r::after{content:'\uFF32';}
.pf-key-s::after{content:'\uFF33';}
.pf-key-t::after{content:'\uFF34';}
.pf-key-u::after{content:'\uFF35';}
.pf-key-v::after{content:'\uFF36';}
.pf-key-w::after{content:'\uFF37';}
.pf-key-x::after{content:'\uFF38';}
.pf-key-y::after{content:'\uFF39';}
.pf-key-z::after{content:'\uFF3A';}
.pf-headphones::after{content:'\u1F3A7';}
.pf-music::after{content:'\u1F3B6';}
.pf-fish::after{content:'\u1F41F';}
.pf-dance-pad::after{content:'\u1F483';}
.pf-laptop::after{content:'\u1F4BB';}
.pf-diskette::after{content:'\u1F4BE';}
.pf-write::after{content:'\u1F4DD';}
.pf-phone::after{content:'\u1F4F1';}
.pf-camera::after{content:'\u1F4F7';}
.pf-speaker::after{content:'\u1F508';}
.pf-light-gun::after{content:'\u1F52B';}
.pf-sfx-sound-effect-noise::after{content:'\u1F56C';}
.pf-steering-wheel::after{content:'\u1F578';}
.pf-fight-stick-joystick::after{content:'\u1F579';}
.pf-vr-headset::after{content:'\u1F57B';}
.pf-vr-controller::after{content:'\u1F57C';}
.pf-flight-stick::after{content:'\u1F57D';}
.pf-cpu-processor::after{content:'\u1F5A5';}
.pf-web-internet-link::after{content:'\u1F5A7';}
.pf-gpu-graphics-card::after{content:'\u1F5A8';}
.pf-ram-memory::after{content:'\u1F5AA';}
.pf-usb-stick::after{content:'\u1F5AB';}
.pf-database::after{content:'\u1F5AC';}
.pf-hard-disk-drive::after{content:'\u1F5B4';}
.pf-screen-video::after{content:'\u1F5B5';}
.pf-text-entry-edit::after{content:'\u1F5B9';}
.pf-speaking-voice::after{content:'\u1F5E3';}
.pf-language::after{content:'\u1F5E9';}
.pf-exit-quit-leave::after{content:'\u1F6AA';}
.pf-information::after{content:'\u1F6C8';}
.pf-shopping-cart::after{content:'\u1F6D2';}
