{
    "extends": [
        "stylelint-config-recommended",
        "stylelint-config-standard",
        "stylelint-config-sass-guidelines",
        "stylelint-config-property-sort-order-smacss",
        "stylelint-config-standard-scss"
    ],
    "plugins": ["stylelint-scss"],
    "overrides": [{
        "files": ["**/*.scss"],
        "customSyntax": "postcss-scss"
    }],
    "rules": {
        "no-descending-specificity": null,
        "declaration-empty-line-before": null,
        "declaration-colon-newline-after": null,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-trailing-semicolon": null,
        "declaration-no-important": true,
        "declaration-property-value-disallowed-list": {
            "/^transition/": ["/all/"]
        },
        "block-closing-brace-newline-after": null,
        "max-empty-lines": null,
        "selector-list-comma-newline-after": null,
        "at-rule-empty-line-before": null,
        "at-rule-semicolon-newline-after": null,
        "selector-pseudo-element-colon-notation": "single",
        "color-no-hex": true,
        "function-url-quotes": "always",
        "max-nesting-depth": [
            4,
            {
                "ignoreAtRules": ["each", "media", "supports", "include"],
                "severity": "warning"
            }
        ],
        "number-leading-zero": null,
        "order/order": [
            [
                "custom-properties",
                "dollar-variables",
                {
                    "type": "at-rule",
                    "name": "extend"
                },
                {
                    "type": "at-rule",
                    "name": "include"
                },
                "declarations",
                "rules"
            ]
        ],
        "order/properties-alphabetical-order": null,
        "property-no-vendor-prefix": [
            true,
            {
                "severity": "warning"
            }
        ],
        "value-no-vendor-prefix": [
            true,
            {
                "severity": "warning"
            }
        ],
        "scss/selector-no-redundant-nesting-selector": null,
        "selector-class-pattern": null,
        "selector-max-compound-selectors": [
            4,
            {
                "severity": "warning"
            }
        ],
        "selector-no-qualifying-type": null,
        "string-quotes": null,
        "max-line-length": null,
        "keyframes-name-pattern": null,
        "scss/double-slash-comment-empty-line-before": null,
        "scss/double-slash-comment-whitespace-inside": null,
        "scss/dollar-variable-empty-line-before": null,
        "scss/dollar-variable-pattern": "[a-z-]",
        "scss/at-import-partial-extension": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "color-function-notation": null,
        "alpha-value-notation": null,
        "at-rule-no-unknown": null,
        "property-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["selected"] }],
        "font-family-no-missing-generic-family-keyword": null,
        "scss/no-global-function-names": null,
        "unit-no-unknown": [true, { "ignoreUnits": ["dp"] }],
        "selector-type-no-unknown": [true, { "ignore": ["custom-elements", "default-namespace"] }],
        "value-keyword-case": null
    }
}
