@import "./base";
@import "./globals/old";
@import "./globals/scrollbars";
@import "./components/components";
@import "./pages/pages";

$font-size: 20dp;

body
{
    @extend %body;
    box-sizing: border-box;
	color: $color-text;
	font-family: $font-stack;
}

.rmlui-window {
    opacity: 1;
    transition: opacity 0.1s quadratic-in-out;

    &--hidden {
        opacity: 0;
        transition: none;
    }

    &:not([mouse-active]) {
        pointer-events: none;
    }
}
.nav-vert {
    @extend %nav-vert;
}
.nav-horiz {
    @extend %nav-horiz;
}
.nav-dir {
    @extend %nav-dir;
}
.nav-foc {
    @extend %nav-foc;
}
.nav-all {
    @extend %nav-all;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    @extend %header-1;
}

h2 {
    @extend %header-2;
}

h3 {
    @extend %header-3;
}

.label-lg {
    @extend %label-lg;
}

.label-md {
    @extend %label-md;
}

.label-sm {
    @extend %label-sm;
}

.prompt-font {
    @extend %prompt-font;
}

.prompt-font-sm {
    @extend %prompt-font-sm;
}

button {
    background-color: $color-primary-d;
}
