@use 'sass:math';

.bottom-left {
    display: flex;
    position: absolute;
    bottom: space(4);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: space($base-modal-max-width);
    height: auto;
    margin: 0 space(4);
}
