@use 'sass:math';

.centered-page {
    display: flex;
    // visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: space($page-margin);
    background-color: $color-border-soft;
}

.centered-page__modal {
    @extend %nav-all;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    flex: 1 1 100%;
    max-width: space($base-modal-max-width);
    width: 100%;
    height: 100%;
    background: $color-modal-overlay;
    border-radius: $border-radius-modal;
    border-color: $color-bg-shadow;
    border-width: $border-width-thickness;

    > .tabs {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        flex: 1 1 100%;
        max-width: space($base-modal-max-width);
        width: 100%;
        height: 100%;
    }

    panels {
        flex: 1 1 100%;
    }
}
