@use 'sass:math';

$page-margin: 32;
$base-height: 1080;

.centered-page {
    display: flex;
    // visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: space($page-margin);
    background-color: $color-border-soft;
}

.centered-page__modal {
    @extend %nav-all;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    flex: 1 1 100%;
    max-width: space(math.div($base-height*4, 3))dp;
    width: 100%;
    height: 100%;
    background: $color-bg-shadow-2;
    border-radius: $border-radius-modal;
    border-color: $color-bg-shadow;
    border-width: space(1);
}

.centered-page__modal panels {
    flex: 1 1 100%;
}
