@use 'sass:math';

.centered-page {
    display: flex;
    // visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: space($page-margin);
    background-color: $color-border-soft;
}

.centered-page__modal {
    display: flex;
    position: relative;
    flex: 1 1 100%;
    flex-direction: column;
    width: 100%;
    max-width: space($base-modal-max-width);
    height: 100%;
    margin: auto;
    border-width: $border-width-thickness;
    border-radius: $border-radius-modal;
    border-color: $color-border;
    background: $color-modal-overlay;

    > .tabs {
        display: flex;
        position: relative;
        flex: 1 1 100%;
        flex-direction: column;
        width: 100%;
        max-width: space($base-modal-max-width);
        height: 100%;
        margin: auto;
    }

    panels {
        flex: 1 1 100%;
    }
}

.centered-page__controls {
    display: flex;
    position: absolute;
    bottom: space(24);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: space($base-modal-max-width);
    height: auto;
    margin: 0 auto;

    > label {
        @extend %label-sm;
        display: inline-block;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: space(24);

        &:not(:last-child) {
            margin-right: space(40);
        }

        > span:first-child {
            margin-right: space(4);
        }
    }
}
