
.config__exit-button {
    position: absolute;
    top: space(8);
    right: space(8);
}

.config__form {
    @include border-top($color-border-soft);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: $border-radius-modal;
    border-bottom-right-radius: $border-radius-modal;
}

.config__wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0dp;
    flex: 1 1 100%;
    height: 100%;
    padding: space(16);
    text-align: left;
    background-color: $color-bg-shadow;
}

.config__header, .config__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $color-bg-shadow;
}

.config__header {
    @include border-bottom($color-border-soft);
    padding: space(12) space(20);
}

.config__footer {
    @include border-top($color-border-soft);
    padding: space(20) space(20);
    border-bottom-left-radius: $border-radius-modal;
    border-bottom-right-radius: $border-radius-modal;
}

.config__header-left {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    > :not(:first-child) {
        margin-left: space(8);
    }
}

.config__row {
    display: flex;
    flex-direction: row;
}

.config-option {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    margin: space(8) 0 space(16);
}

.config-option__title {
    @extend %label-md;
    padding: 0 space(12);
}

.config-option__list {
    display: flex;
    padding: 0;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;

    .config-option__tab-label {
        @extend %label-sm;
        display: block;
        padding: 12dp 0;
        margin: 0 12dp;
        margin-right: space(16);
        color: $color-text-inactive;
        tab-index: none;
        transition: color $transition-quick;

        &:hover {
            cursor: pointer;
        }
    }

    input.radio {
        @extend %nav-all;
        @include trans-colors-opa;
        visibility: visible;
        width: 0;
        height: 0;

        &:not(:disabled) {
            &:checked + .config-option__tab-label {
                border-bottom: 1dp;
                border-color: $color-border-hard;
    
                &:hover {
                    cursor: default;
                }
            }
    
            &:focus + .config-option__tab-label,
            &:hover + .config-option__tab-label {
                color: $color-text;
            }
        }

        &:disabled + .config-option__tab-label {
            opacity: 0.5;

            &:hover {
                cursor: default;
            }
        }
    }

    input.range slidertrack {
        @include trans-colors;
        margin-top: 7dp;
        height: 2dp;
        background-color: $color-border;
    }
    
    input.range sliderbar {
        @include trans-colors;
        margin-left: -8dp;
        margin-right: -6dp;
        width: space(16);
        height: space(16);
        background-color: $color-text-dim;
        border-radius: 8dp;
        transition: background-color $transition-quick;
        
        .rmlui-window:not([mouse-active]) &:focus {
            @include border($color-a);
            background-color: $color-secondary;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-text;
        }
    }
    
    input.range sliderbar:active,
    input.range slidertrack:active + sliderbar {
        background-color: $color-secondary;
    }

    input.range sliderarrowdec,
    input.range sliderarrowinc {
        display: none;
    }
}

.config-option__details {
    @extend %label-xs;
    color: $color-secondary;
    margin: space(8) space(12) 0;
    height: space(18);
}

.config-option__range-wrapper {
    margin-top: space(4);
    max-width: space(360);
}

.config-option__range-label {
    @extend %label-sm;
    flex: 0 0 space(16);

    display: block;
    padding: 0;
    margin: 0 12dp;
    margin-right: space(16);
    color: $color-text;
    tab-index: none;
}
