@use 'sass:math';

$prompt-space: 24;

.prompt {
    &__overlay {
        background-color: $color-bg-overlay;
        pointer-events: auto;
    }

    &__overlay,
    &__content-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__content-wrapper {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    }
    
    &__content {
        display: flex;
        position: relative;
        flex: 1 1 100%;
        flex-direction: column;
        width: 100%;
        max-width: space(700);
        height: auto;
        margin: auto;
        border-width: $border-width-thickness;
        border-radius: $border-radius-modal;
        border-color: $color-border;
        background: $color-modal-overlay;

        h3, p {
            margin: space($prompt-space);
        }

        p {
            margin-top: 0;
        }
    }

    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: space($prompt-space) space(math.div($prompt-space, 2));
        border-top-width: $border-width-thickness;
        border-top-color: $color-border-soft;

        .button {
            min-width: space(math.div(700, 3));
            margin: 0 space(math.div($prompt-space, 2));
            text-align: center;
            nav-up: none;
            nav-down: none;
        }
    }
}
