
.config-debug {
    display: block;
    position: relative;
    width: 100%;
    max-height: 100%;
    padding: space(8);
}

.config-debug__scroll {
    display: block;
    position: relative;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.config-debug-option {
    @include set-color($color-text-dim);
    @include trans-colors-svg;
    @include border-bottom($color-border-soft);
    display: block;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: space(12) space(4);
    background-color: rgba(0, 0, 0, 0);

    &:focus:not(:disabled, [disabled]),
    &:focus-visible:not(:disabled, [disabled]),
    &:hover:not(:disabled, [disabled]) {
        @include set-color($color-text);
        background-color: $color-bg-overlay;
    }

    &:disabled, &[disabled] {
        opacity: 0.5;
    }

    .icon-button {
        margin-left: space(8);
    }
}

.config-debug__option-split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.config-debug-option__label {
    @extend %label-md;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: space(4) space(16) space(12);
    width: auto;
    height: auto;
    white-space: nowrap;
}

.config-debug__option-controls {
    display: block;
    position: relative;
    flex: 1 1 auto;
    height: auto;
    width: auto;
    max-width: space(800);
    padding: 0 space(12);
}

.config-debug__option-trigger {
    flex: 1 1 auto;
}

.config-debug__select-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 100%;
    width: auto;
    max-width: space(800);
    height: auto;
    padding: space(4);

    .config-debug__select-label {
        @extend %label-sm;
        padding-right: space(16);
        flex: auto;
        width: space(196);

        > div {
            display: inline;
            width: auto;
            height: auto;
        }
    }

    input {
        @extend %body;
        @extend %nav-all;
        display: block;
        position: relative;
        box-sizing: border-box;
        padding: 0;
        flex: 1 1 100%;
        width: auto;
        height: space(20);
        margin: auto 0;
    }

    select {
        @extend %body;
        @extend %nav-all;
        @include trans-colors-border;
        @include border($color-white-a50);
        display: block;
        position: relative;
        box-sizing: border-box;
        padding: 0;
        flex: 1 1 100%;
        width: auto;
        height: space(48);
        border-radius: $border-radius-md;
        background-color: $color-white-a5;
        cursor: pointer;

        align-items: center;
        justify-content: flex-start;
        padding: space(14);

        &:hover, &:focus {
            @include border($color-white-a80);
            background-color: $color-white-a20;
        }

        selectvalue {
            display: inline;
            margin: auto 0;
            height: auto;
        }

        selectbox {
            @include border($color-white-a80);
            background-color: $color-background-3;
            padding: space(4) 0;
            margin-top: space(2);
            border-radius: $border-radius-md;
            
            option {
                @extend %nav-all;
                @include trans-colors;
                padding: space(8) space(12);
                background-color: $color-transparent;
                color: $color-text-dim;
                font-weight: 400;

                &:hover, &:focus {
                    background-color: $color-white-a20;
                }

                &:hover:not(:checked) {
                    cursor: pointer;
                }

                &:checked {
                    color: $color-white;
                    background-color: $color-white-a5;
                }
            }
        }
    }
}
