/* stylelint-disable color-no-hex */
/* stylelint-disable selector-max-id */

* {
    box-sizing:border-box;
}

hr {
    display:block;
    padding:1.5dp;
    background: $color-background-1;
}

body {
    color: #fff;
    font-family: chiaro;
    font-size: 20dp;
    font-style: normal;
    font-weight: normal
}

/* div { 
    focus:none;
    tab-index:none;
} */

div#window {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-color: $color-border;
    background-color: $color-background-2;
}

div#content {
    z-index: 2;
    width: auto;
    height: 100%;
    overflow: hidden auto;
    text-align: center
}

p {
    text-align: left;
}

input.submit {
    margin-left: 0
}


input.text,
input.password {
    box-sizing: border-box;
    height: 31dp;
    padding: 11dp 10dp 0;
    text-align: left;
    cursor: text
}

textarea {
    padding: 14dp 12dp 10dp;
    text-align: left;
    cursor: text
}

input.text,
input.password,
select,
textarea {
    /* color: #333; */

    /* font-size: 13dp */
    height: auto;
}

table input.text {
    box-sizing: border-box;
    width: 100%;
    height: auto;

    /* height: 18dp; */
    margin: 0;
    border-width: $border-width-thickness;
    border-color: #000;
    background-color: #fff;
    font-size: 15dp;

    /* padding: 0 5dp; */
    line-height: 1;
    decorator: none;

    /* vertical-align: center; */
}

select {
    // display: inline-block;
    // /* width: 175dp; */
    // /* height: 37dp; */
    // /* height: auto; */
    // text-align: left;
    // box-sizing:border-box;
    // /* padding: 4dp; */
    // vertical-align: center;
    // padding: 4dp;
    // border-radius: 5dp;
    // background-color: rgb(120, 120, 120);
    // width: 100%;
}
// select {
//     @extend %body;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     box-sizing: border-box;
//     padding: space(16);
//     flex: 1 1 100%;
//     // width: auto;
//     height: space(1000);
//     border-radius: $border-radius-lg;
//     background-color: $color-white-a20;
// }

// select selectvalue {
//     height: auto;
//     /* padding: 4dp; */
//     /* margin-right: 30dp; */
//     /* height: 25dp; */
//     /* padding: 4dp; */
//     /* decorator: image(selectvalue) */
// }

// select:hover selectvalue {
//     /* margin-right: 30dp; */
//     /* height: 25dp; */
//     /* padding: 4dp; */
//     background-color: rgb(150, 150, 150);
//     /* decorator: image(selectvalue) */
// }

// select selectarrow {
//     /* width: 30dp; */
//     /* height: 37dp; */
//     /* decorator: image(selectarrow) */
//     /* background-color: black; */
//     /* appearance: none; */
// }

// select:hover selectarrow {
//     /* decorator: image(selectarrow-hover) */
// }

// select:active selectarrow,
// select selectarrow:checked {
//     /* decorator: image(selectarrow-active) */
// }

// select selectbox {
//     /* margin-left: 1dp; */
//     /* margin-top: -7dp; */
//     /* margin-bottom: -10dp; */
//     /* width: 162dp; */
//     /* padding: 1dp 4dp 4dp 4dp */
// }

// select selectbox,
// tbody {
//     background-color: rgb(120,120,120);
//     /* decorator: tiled-box(selectbox-tl, selectbox-t, selectbox-tr, selectbox-l, selectbox-c, auto, selectbox-bl, selectbox-b, selectbox-br) */
// }

// select selectbox option {
//     width: auto;
//     background-color: rgb(120, 120, 120)
// }

// select selectbox option:nth-child(even),
// tr:nth-child(even) {
//     background-color: rgb(100, 100, 100)
// }

// select selectbox option:checked {
//     font-weight:bold;
//     color:rgb(255,255,255);
// }

// select selectbox option:hover {
//     background: rgb(150,150,150)
// }

input.radio {
    flex: 0;
    width:0dp;
    nav-up:auto;
    nav-right:auto;
    nav-down:auto;
    nav-left:auto;
    tab-index:auto;
    focus:auto;
}

input.checkbox {
    width: space(20);
    height: space(20);
    nav-up:auto;
    nav-right:auto;
    nav-down:auto;
    nav-left:auto;
    tab-index:auto;
    focus:auto;
}
