
* {
    box-sizing:border-box;
}

hr {
    display:block;
    background:black;
    padding:1.5dp;
}

body {
    font-family: chiaro;
    font-weight: normal;
    font-style: normal;
    font-size: 20dp;
    color: #fff
}

/* div { 
    focus:none;
    tab-index:none;
} */

div#window {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $color-background-2;
    border-color: $color-border;
}

div#content {
    z-index: 2;
    width: auto;
    height: 100%;
    overflow: hidden auto;
    text-align: center
}

p {
    text-align: left;
}

input.submit {
    margin-left: 0
}


input.text,
input.password {
    box-sizing: border-box;
    height: 31dp;
    padding: 11dp 10dp 0;
    cursor: text;
    text-align: left
}

textarea {
    padding: 14dp 12dp 10dp;
    cursor: text;
    text-align: left
}

input.text,
input.password,
select,
textarea {
    /* color: #333; */
    /* font-size: 13dp */
    height: auto;
}

table input.text {
    box-sizing: border-box;
    width: 100%;
    /* height: 18dp; */
    margin: 0;
    /* padding: 0 5dp; */
    line-height: 1;
    border-width: 1dp;
    border-color: #000;
    background-color: #fff;
    font-size: 15dp;
    decorator: none;
    height: auto;
    /* vertical-align: center; */
}

select {
    display: inline-block;
    /* width: 175dp; */
    /* height: 37dp; */
    /* height: auto; */
    text-align: left;
    box-sizing:border-box;
    /* padding: 4dp; */
    vertical-align: center;
    padding: 4dp;
    border-radius: 5dp;
    background-color: rgb(120, 120, 120);
    width: 100%;
}

select selectvalue {
    height: auto;
    /* padding: 4dp; */
    /* margin-right: 30dp; */
    /* height: 25dp; */
    /* padding: 4dp; */
    /* decorator: image(selectvalue) */
}

select:hover selectvalue {
    /* margin-right: 30dp; */
    /* height: 25dp; */
    /* padding: 4dp; */
    background-color: rgb(150, 150, 150);
    /* decorator: image(selectvalue) */
}

select selectarrow {
    /* width: 30dp; */
    /* height: 37dp; */
    /* decorator: image(selectarrow) */
    /* background-color: black; */
    /* appearance: none; */
}

select:hover selectarrow {
    /* decorator: image(selectarrow-hover) */
}

select:active selectarrow,
select selectarrow:checked {
    /* decorator: image(selectarrow-active) */
}

select selectbox {
    /* margin-left: 1dp; */
    /* margin-top: -7dp; */
    /* margin-bottom: -10dp; */
    /* width: 162dp; */
    /* padding: 1dp 4dp 4dp 4dp */
}

select selectbox,
tbody {
    background-color: rgb(120,120,120);
    /* decorator: tiled-box(selectbox-tl, selectbox-t, selectbox-tr, selectbox-l, selectbox-c, auto, selectbox-bl, selectbox-b, selectbox-br) */
}

select selectbox option {
    width: auto;
    background-color: rgb(120, 120, 120)
}

select selectbox option:nth-child(even),
tr:nth-child(even) {
    background-color: rgb(100, 100, 100)
}

select selectbox option:checked {
    font-weight:bold;
    color:rgb(255,255,255);
}

select selectbox option:hover {
    background: rgb(150,150,150)
}

input.radio,
input.checkbox {
    /* width: 30dp; */
    /* height: 30dp; */
    /* vertical-align: -11dp; */
    /* margin-top: 4dp; */
    /* margin-bottom: 4dp; */
    flex: 0;
    tab-index:auto;
    focus:auto;
    nav-up:auto;
    nav-down:auto;
    nav-right:auto;
    nav-left:auto;
    width:0dp;
}

/* input.radio:checked:hover + label {
    background: rgb(150,150,150);
} */

/* input.radio:checked:active {
    decorator: image(radio-checked-active)
} */

/* input.checkbox {
    decorator: image(checkbox)
}

input.checkbox:hover {
    decorator: image(checkbox-hover)
}

input.checkbox:active {
    decorator: image(checkbox-active)
}

input.checkbox:checked {
    decorator: image(checkbox-checked)
}

input.checkbox:checked:hover {
    decorator: image(checkbox-checked-hover)
}

input.checkbox:checked:active {
    decorator: image(checkbox-checked-active)
} */

thead tr {
    height: 35dp;
    /* decorator: tiled-horizontal(tableheader-l, tableheader-c, tableheader-r) */
}

thead td {
    padding-top: 11dp
}

tbody {
    margin-left: 5dp;
    margin-right: 4dp;
    padding-top: 4dp;
    padding-bottom: 4dp
}

tbody tr {
    margin-left: 9dp;
    margin-right: 8dp;
    color: #000
}

expand {
    display: block;
    margin: 1dp 0 1dp 5dp;
    height: 17dp;
    width: 17dp;
    /* decorator: image(expand) */
}

/* expand:hover {
    decorator: image(expand-hover)
}

expand:active {
    decorator: image(expand-active)
}

expand.collapsed {
    decorator: image(expand-collapsed)
}

expand.collapsed:hover {
    decorator: image(expand-collapsed-hover)
}

expand.collapsed:active {
    decorator: image(expand-collapsed-active)
} */

scrollbarvertical {
    margin-top: -6dp;
    margin-bottom: -6dp;
    margin-right: -11dp;
    width: 27dp
}

scrollbarvertical slidertrack {
    /* decorator: tiled-vertical(slidertrack-t, slidertrack-c, slidertrack-b) */
}

scrollbarvertical slidertrack:active {
    image-color: #aaa
}

scrollbarvertical sliderbar {
    margin-left: 4dp;
    width: 23dp;
    min-height: 46dp;
    /* decorator: tiled-vertical(sliderbar-t, sliderbar-c, sliderbar-b) */
}

/* scrollbarvertical sliderbar:hover {
    decorator: tiled-vertical(sliderbar-hover-t, sliderbar-hover-c, sliderbar-hover-b)
} */

/* scrollbarvertical sliderbar:active {
    decorator: tiled-vertical(sliderbar-active-t, sliderbar-active-c, sliderbar-active-b)
} */

scrollbarvertical sliderarrowdec,
scrollbarvertical sliderarrowinc {
    width: 27dp;
    height: 24dp
}

/* scrollbarvertical sliderarrowdec {
    decorator: image(sliderarrowdec)
}

scrollbarvertical sliderarrowdec:hover {
    decorator: image(sliderarrowdec-hover)
}

scrollbarvertical sliderarrowdec:active {
    decorator: image(sliderarrowdec-active)
}

scrollbarvertical sliderarrowinc {
    decorator: image(sliderarrowinc)
}

scrollbarvertical sliderarrowinc:hover {
    decorator: image(sliderarrowinc-hover)
}

scrollbarvertical sliderarrowinc:active {
    decorator: image(sliderarrowinc-active)
} */

scrollbarhorizontal {
    width: 0;
    height: 0
}

textarea scrollbarvertical {
    cursor: arrow;
    margin: 10dp 0 4dp 0;
    width: 12dp
}

textarea scrollbarvertical slidertrack {
    decorator: none
}

textarea scrollbarvertical sliderbar {
    margin-left: 2dp;
    width: 10dp;
    min-height: 16dp
}

textarea scrollbarvertical sliderarrowdec,
textarea scrollbarvertical sliderarrowinc {
    width: 0;
    height: 0
}

textarea scrollbarhorizontal {
    cursor: arrow;
    margin-left: 7dp;
    height: 12dp
}

textarea scrollbarhorizontal sliderbar {
    background-color: rgba(188, 0, 0, .8);
    height: 8dp;
    min-width: 10dp
}

textarea scrollbarhorizontal sliderbar:hover {
    background-color: rgba(184, 37, 0, .8)
}

textarea scrollbarhorizontal sliderbar:active {
    background-color: rgba(119, 0, 0, .8)
}
